@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/hanna.css);

* {
	font-family : "Hanna";
}

.container {
	margin-top : 50px;
}

.jb-smaller { font-size: smaller; color:gray;}
.jb-larger { font-size: larger; }
th, td{
	vertical-align: middle !important;
	text-align: center !important;
}

a {
	text-decoration: none !important;
}